services:
  next-app:
    build:
      context: .
      dockerfile: docker/vite-image/DockerFile
    ports:
      - "5173:5173"
    volumes:
     - .:/app
     - /app/node_modules
    environment:
      NODE_ENV: development
    restart: unless-stopped
    command: npm run dev -- --host 0.0.0.0
